In [1]:
## Importación de librerías
from pydataset import data
import pandas as pd
import numpy as np
from scipy import stats # importando scipy.stats

**Pair Programming Estadística I**

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica. En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.

Objetivos:

Los objetivos de hoy son:

1. Buscar un conjunto de datos a analizar:
Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [2]:
tik_tok = pd.read_csv("TikTok_songs_2022.csv")
tik_tok.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
0,Running Up That Hill (A Deal With God),Kate Bush,81,Hounds Of Love,95,0.629,0.547,-13.123,0,10,0.0550,0.7200,0.003140,0.0604,0.197,108.375,4,298933
1,As It Was,Harry Styles,91,As It Was,96,0.520,0.731,-5.338,0,6,0.0557,0.3420,0.001010,0.3110,0.662,173.930,4,167303
2,Sunroof,Nicky Youre,73,Sunroof,44,0.768,0.716,-5.110,1,10,0.0404,0.3500,0.000000,0.1500,0.841,131.430,4,163026
3,Heat Waves,Glass Animals,80,Dreamland (+ Bonus Levels),89,0.761,0.525,-6.900,1,11,0.0944,0.4400,0.000007,0.0921,0.531,80.870,4,238805
4,About Damn Time,Lizzo,81,About Damn Time,92,0.836,0.743,-6.305,0,10,0.0656,0.0995,0.000000,0.3350,0.722,108.966,4,191822

In [3]:
#1
tik_tok.columns

Index(['track_name', 'artist_name', 'artist_pop', 'album', 'track_pop',
       'danceability', 'energy', 'loudness', 'mode', 'key', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'time_signature', 'duration_ms'],
      dtype='object')

In [4]:
#2
tik_tok.shape

(263, 18)

In [5]:
#3. para ver el nombre de las columnas y el tipo de datos que tenemos en cada una y los elementos no nulos.
tik_tok.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_name        263 non-null    object
 1   artist_name       263 non-null    object
 2   artist_pop        263 non-null    int64
 3   album             263 non-null    object
 4   track_pop         263 non-null    int64
 5   danceability      263 non-null    float64
 6   energy            263 non-null    float64
 7   loudness          263 non-null    float64
 8   mode              263 non-null    int64
 9   key               263 non-null    int64
 10  speechiness       263 non-null    float64
 11  acousticness      263 non-null    float64
 12  instrumentalness  263 non-null    float64
 13  liveness          263 non-null    float64
 14  valence           263 non-null    float64
 15  tempo             263 non-null    float64
 16  time_signature    263 non-null    int64
 17  duration_ms       263 non-null    int64
dtypes: float64(9), int64(6), object(3)
memory usage: 37.1+ KB

/var/folders/qq/jtqr5_ts3_5frnqgj2ky0sjr0000gn/T/ipykernel_56361/1932954193.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  tik_tok.info(null_counts = True)

In [6]:
#4
tik_tok.isnull().sum()

track_name          0
artist_name         0
artist_pop          0
album               0
track_pop           0
danceability        0
energy              0
loudness            0
mode                0
key                 0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
duration_ms         0
dtype: int64

In [7]:
#5 Principales estadisticos de las columnas
tik_tok.describe()

,artist_pop,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
count,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000
mean,64.186312,59.844106,0.715338,0.682631,-6.300513,0.536122,5.809886,0.117268,0.193188,0.020244,0.202562,0.506149,122.883696,3.969582,174656.212928
std,18.146338,24.976524,0.117722,0.141756,1.905114,0.499644,3.657312,0.101417,0.214588,0.109370,0.151808,0.220757,24.396686,0.288168,34785.125564
min,18.000000,0.000000,0.308000,0.214000,-13.468000,0.000000,0.000000,0.025200,0.000038,0.000000,0.026500,0.036300,62.948000,1.000000,85742.000000
25%,50.000000,47.000000,0.646000,0.593000,-7.423500,0.000000,2.000000,0.044750,0.028100,0.000000,0.094350,0.349000,106.850500,4.000000,148646.000000
50%,64.000000,66.000000,0.726000,0.701000,-6.067000,1.000000,6.000000,0.070700,0.120000,0.000003,0.132000,0.485000,123.056000,4.000000,171028.000000
75%,81.000000,79.500000,0.796500,0.790500,-4.887000,1.000000,9.000000,0.156000,0.298500,0.000334,0.277500,0.680000,130.004500,4.000000,199047.000000
max,95.000000,97.000000,0.961000,0.955000,-2.634000,1.000000,11.000000,0.481000,0.965000,0.939000,0.790000,0.956000,187.906000,5.000000,298933.000000

In [8]:
#6 para las variables categóricas
tik_tok.describe(include = object).T

            count unique           top freq
track_name    263    258  Say It Right    2
artist_name   263    199      Doja Cat    8
album         263    251    Planet Her    4

In [9]:
#8. esto nos devuelve un booleano y para verlo con dato le ponemos el .sum
tik_tok.duplicated().sum()

0

2. Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:

- Media.
- Desviación con respecto de la media.
- Varianza.
- Desviación típica.
- Moda.
- Mediana.
- Media ponderada.
- Robustez.
- Coeficiente de variación.

In [10]:
# Máximo.
maximo = tik_tok["danceability"].max()
maximo

0.961

In [11]:
# Mínimo.
minimo = tik_tok["danceability"].min()
minimo

0.308

In [12]:
# Media.
media = tik_tok["danceability"].mean()
media

0.7153384030418252

In [13]:
# Desviación con respecto de la media.
diferencia = tik_tok ["danceability"] - media
desviacion_media = np.abs(media)
desviacion_media

0.7153384030418252

In [14]:
# Varianza.
tik_tok["danceability"].var()

0.013858552985226246

In [15]:
# Desviación típica.
desviacion_tipica = tik_tok["danceability"].std()
desviacion_tipica

0.11772235550321887

In [16]:
# Moda.
tik_tok["danceability"].mode()

0    0.714
Name: danceability, dtype: float64

In [17]:
# Mediana.
tik_tok["danceability"].median()

0.726

In [19]:
numero_datos = tik_tok.shape[0]
numero_datos

263

In [20]:
# Robustez de la media.
robustez = 1/numero_datos
robustez

0.0038022813688212928

In [21]:
# Coeficiente de variación = media/desviacion_tipica
cociente_de_variacion = media/ desviacion_tipica
cociente_de_variacion

6.0764873416270175

3. Interpretación de los resultados.

Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.

In [ ]:
#El numero de elemetos de esta tabla (canciones) son 263 y sobre ellos hemos estudiado la columna de "danceability"
#(danzabilidad, es decir cómo de bailables son).


#Obsevamos que los valores oscilan entre el 0 y el 1, siendo el máximo 0.961 (muy bailable) y el mínimo 0.308 (ya no tanto).

#Como la máxima es alta y la minima no es baja del todo nos da una media de 0,7 (valor muy similar al de la moda y la mediana)
#de lo que sacamos que, al menos esta tabla, recoge una gran cantidad de canciones que te invitan a moverte al ritmo de la música.
#La similitud de estos datos unidos a la robustez (valor MUY próximo al 0), nos indica la rotundidad y fiabilidada de los datos.

#La varianza es ínfima lo que significa que el estilo es muy similar en los temas recogidos en la tabla.