In [2]:
import pandas as pd
import numpy as np
import pickle

**Pair Programming Pandas II**

Los objetivos de este pair programming:

Id cargando todos los ficheros en vuestro jupyter.

Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [3]:
quejas_csv = pd.read_csv("quejas.csv", encoding = "iso-8859-1", sep = ";")
quejas_csv.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [14]:
quejas_json = pd.read_json("quejas.json")
quejas_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [15]:
quejas_xlsx = pd.read_excel("quejas2.xlsx")
quejas_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [6]:
#algas_pickle

df_size = 10000

df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})

In [7]:
df.head()

          a         b         c         d         e
0  0.887618  0.473217  0.208078  0.923760  0.191399
1  0.325480  0.949936  0.291259  0.573934  0.431596
2  0.428053  0.680781  0.042255  0.895170  0.742605
3  0.624016  0.658279  0.944781  0.080723  0.319579
4  0.785670  0.394237  0.785443  0.825500  0.641901

In [8]:
# guardemoslo localmente 
%time # comando que nos devuelve el tiempo que tarda en ejecutarse nuestro código

with open('algas.pkl', 'wb') as f:
    pickle.dump(df, f)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

In [9]:
# lo guardaremos también como csv para ver que se carga más rápido
%time
df.to_csv('algas.csv')

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.01 µs

Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook.

Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
- csv
- excel
- json
- pickle

In [20]:
nota = pd.read_clipboard(sep=',')
nota.head()

Empty DataFrame
Columns: [13° 0 h  16° 2 h  16° 4 h  13° 6 h  16° 8 h  16° 10 h  13° 12 h  16° 14 h  16° 16 h  13° 18 h  16° 20 h  16° 22 h  16° 23 h]
Index: []

In [11]:
nota.to_csv("notas.csv")

In [12]:
nota.to_json("notas.json")

In [13]:
nota.to_pickle("notas.pickle")