In [1]:
import pandas as pd
import numpy as np
import pickle

**Pair Programming Pandas II**

Los objetivos de este pair programming:

Id cargando todos los ficheros en vuestro jupyter.

Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [2]:
quejas_csv = pd.read_csv("quejas.csv", encoding = "iso-8859-1", sep = ";")
quejas_csv.head(1)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [3]:
quejas_json = pd.read_json("quejas.json")
quejas_json.head(1)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [4]:
quejas_xlsx = pd.read_excel("quejas2.xlsx")
quejas_xlsx.head(1)

        DESCRIPCION_TEMA         DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO  ADMINISTRACIÓN ELECTRÓNICA

In [5]:
#algas_pickle

df_size = 10000

df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})

In [6]:
df.head()

          a         b         c         d         e
0  0.173374  0.427226  0.229809  0.598709  0.074112
1  0.041745  0.907564  0.998447  0.362378  0.081538
2  0.600578  0.712909  0.211347  0.058114  0.136022
3  0.584051  0.976290  0.675982  0.745896  0.733846
4  0.016645  0.547560  0.728940  0.693915  0.807013

In [7]:
# guardemoslo localmente 
%time # comando mágico que nos devuelve el tiempo que tarda en ejecutarse nuestro código

with open('algas.pkl', 'wb') as f:
    pickle.dump(df, f)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 9.06 µs

In [8]:
# lo guardaremos también como csv para ver que se carga más rápido
%time
df.to_csv('algas.csv')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.72 µs

Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook.

Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
- csv
- excel
- json
- pickle

In [9]:
nota = pd.read_clipboard(sep=',')
nota.head(2)

  dataframe_diccionario["Edad+4"] = (dataframe_diccionario["Edad"] +4)
0                              dataframe_diccionario

In [10]:
nota.to_csv("notas.csv")

In [11]:
nota.to_json("notas.json")

In [12]:
nota.to_pickle("notas.pickle")